__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Game files for Asteroids_V1
Asteroids_V1/Modules/game_state.json
Asteroids_V1/Modules/game_events.jsonl

#Books for BookBot_v1
BookBot_v1/books/frankenstein.txt
BookBot_v1/books/mobydick.txt
BookBot_v1/books/prideandprejudice.txt